<h1>My Garage</h1>

<% @favourites.each do |favourite| %>
  <p><%= favourite.car.brand %> - <%= favourite.car.model %></p>
  <%= link_to "Take out of my garage", favourite_path(favourite), data: {turbo_method: :delete, turbo_confirm: "Do you really want to take this car out of your garage?"} %>
<% end %>
