<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "car_banner.jpg" %>);">
  <div class="container">
    <h1>AWESOME GARAGE</h1>
    <p>You want your dream car - we get you on the road</p>
    <%= link_to 'Get started now', cars_path, class: "btn btn-dark" %>    </div>
</div>
<div class="m-5 text-end">
<h3>No money for an expensive car?</h3>
<p>Do not fret. At AWESOME GARAGE we let you dream up your wildest dreams.</p>
<p>Look at all the beautiful cars our users upload and add them to your own garage.</p>
<p>From being broke to owning five Ferraris in seconds...</p>
</div>
