.card-product {
  overflow: hidden;
  height: 250px;
  width: 69%;
  background: #eeeeee;
  box-shadow: 0 0 15px rgba(231, 226, 226, 0.2);
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.card-product img {
  height: 100%;
  width: 360px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  color: rgb(11, 4, 24);
}

.card-product .card-product-infos {
  padding: 16px;
}
